body{
    font-family: Nunito, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;

}
h1{
    font-family: 'Oswald',sans-serif;
}
h1.title{
    text-decoration: line-through;
    font-style: italic;
    font-weight: 200;
}